.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-center {
        text-align: center;
    }
}

.img-class {
    height: 400px;
    width: 400px;
    left: 50%;
    margin-top: 0;
}