################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/accurate-backend/accurate-backend/bin/Debug/net8.0/accurate-backend.dll
/accurate-backend/obj
*.json
/accurate-backend/accurate-backend/.vs
/acurate-frontend/.angular