################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
accurate-backend/accurate-backend/bin/Debug/net8.0
*.json
/accurate-backend/accurate-backend/.vs
/acurate-frontend/.angular
accurate-backend/accurate-backend/obj/Debug/net8.0
accurate-backend/accurate-data-access/obj/Debug/net8.0
accurate-backend/accurate-services/obj/Debug/net8.0
accurate-backend/accurate_repositry/obj/Debug/net8.0


