################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
accurate-backend/accurate-backend/bin/Debug/net8.0/
*.json
/accurate-backend/accurate-backend/.vs
accurate-backend/accurate-backend/bin/Debug/net8.0/*.dll
accurate-backend/accurate-backend/bin/Debug/net8.0/*.pdb
accurate-backend/accurate-backend/bin/Debug/net8.0/*.exe
accurate-backend/accurate-backend/bin/Debug/net8.0/*.csproj.AssemblyReference.cache
accurate-backend/accurate-backend/bin/Debug/net8.0/*.AssemblyInfo.cs
accurate-backend/.vs/accurate-backend/v17/.suo
accurate-backend/accurate-backend/obj/Debug/net8.0/*.AssemblyInfo.cs
*.AssemblyInfoInputs.caches
accurate-frontend/.angular/cache/18.1.3/accurate-frontend/.tsbuildinfo

accurate-backend/accurate-backend/bin/Debug/net8.0/accurate_repositry.dll
accurate-backend/accurate-backend/bin/Debug/net8.0/accurate_repositry.pdb
accurate-backend/accurate-backend/bin/Debug/net8.0/accurate-backend.exe
