    .user-profile {
        width: 35px;
        height: 50px;
    }
    
    .pages {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    .pages>div {
        margin-right: .75rem !important;
        margin-left: .75rem !important;
    }
    
    nav {
        min-height: 56px;
        /* background-color: rgb(var(--bs-primary-rgb)); */
    }