        header {
            height: 50px !important;
            background-color: #008DB1;
            display: flex;
            color: white;
            padding: 0px 30px;
            justify-content: space-between;
            align-items: center;
        }
        
        nav {
            background-color: white;
        }
        
        nav @media (max-width: 600px) {
            header {
                display: none;
            }
        }
        
        header>div>div {
            padding-left: 15px;
        }
        
        .logo>img {
            height: 50px;
            width: 200px;
        }
        
        .user-profile {
            width: 35px;
            height: 50px;
        }
        
        .pages {
            list-style: none;
            display: flex;
            flex-direction: row;
        }
        
        .pages>div {
            margin-right: .75rem !important;
            margin-left: .75rem !important;
        }
        
        nav {
            min-height: 56px;
            /* background-color: rgb(var(--bs-primary-rgb)); */
        }