<header>
  <div class="d-flex align-center">
    <mat-icon>phone</mat-icon>
    <div> Call Us : +91 8141351199 </div>
  </div>
  <div class="d-flex align-center">
    <mat-icon>mail_outline</mat-icon>
    <div> info&#64;gmail.com </div>
  </div>
</header>

<nav class="row gx-0 align-items-center px-2 py-2">
  <div class="col-lg-2 logo">
    <img src="../../../assets/images/LOGO.svg" alt="logo"/>
  </div>
  <div class="col-lg-3 d-lg-block d-none">
    <div class="pages">
      <div class="mx-2">
        <a class="nav-link active fw-bolder" aria-current="page" href="#"
          >Home</a
        >
      </div>
      <div>
        <a class="nav-link active fw-bolder" aria-current="page" href="#"
          >About</a
        >
      </div>
      <div>
        <a class="nav-link active fw-bolder" aria-current="page" href="#"
          >Contact</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-12">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
  <div
    class="col-lg-2 align-items-center pe-3 justify-content-end d-lg-flex d-none"
  >
    <a class="me-2 btn btn-primary">Login</a>
    <a>
      <img
        class="user-profile"
        src="../../../assets/images/user-profile.svg"
        loading="lazy"
      />
    </a>
  </div>
</nav>
